# Django & Core Dependencies
Django                # Core framework
django-environ        # Environment variable management
djangorestframework  # For REST API
django-cors-headers  # Handle CORS
django-leaflet       # For map integration

# Database & GeoDjango Dependencies
psycopg2-binary     # PostgreSQL adapter              # Required for GeoDjango
geopandas           # For geospatial data handling
geojson             # GeoJSON support
shapely             # Geometric operations
sqlalchemy
scikit-learn

# Production Dependencies
gunicorn            # Production server
whitenoise          # Static file serving

# Development Tools
python-dotenv       # Local environment management
django-leaflet